body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.quiz-screen .question .progress-bar{
  width: 0px;
  height: 5px;
}

.quiz-screen .question .progress-bar .active{
  animation: progress 10s liner forwards;
}

@keyframes progress{
  0%{
    width: 0px;
    background: #555;
  }
  79%{
    width: 79px;
    background: #555;
  }
  80%{
    width: 80px;
    background: orangered;
  }
  100%{
    width: 100px;
    background: orangered;
  }
}